<form [formGroup]="form()" (ngSubmit)="onSubmit()">
    <div class="card">
        <h3 class="form-subtitle">Información personal</h3>
        <div class="form-grid">
            <div class="form-row">
                <input-text-field [label]="'Nombres'" [placeholder]="'Arturo'" [control]="form().controls.name"
                    [error]="getFieldErrorMessage('name')"></input-text-field>

                <input-text-field [label]="'Apellidos'" [placeholder]="'Pérez Rodiguez'"
                    [control]="form().controls.lastName" [error]="getFieldErrorMessage('lastName')"></input-text-field>
            </div>
            <div class="form-row">
                <input-text-field [label]="'Correo electrónico'" [placeholder]="'andres@myemail.com'"
                    [control]="form().controls.email" [error]="getFieldErrorMessage('email')"></input-text-field>

                <input-text-field [label]="'Teléfono'" [placeholder]="'0000000000'"
                    [control]="form().controls.phoneNumber"
                    [error]="getFieldErrorMessage('phoneNumber')"></input-text-field>
            </div>
            <div class="form-row">
                <select-field [label]="'País'" [placeholder]="''" [options]="country()"
                    [control]="form().controls.country" [error]="getFieldErrorMessage('country')"></select-field>

                <select-field [label]="'Departamento'" [placeholder]="''" [options]="state()"
                    [control]="form().controls.state" [error]="getFieldErrorMessage('state')"></select-field>

            </div>
            <div class="form-row">
                <input-text-field [label]="'Ciudad'" [placeholder]="''" [control]="form().controls.city"
                    [error]="getFieldErrorMessage('city')"></input-text-field>

                <input-text-field [label]="'Dirección'" [placeholder]="'Cra 00 #00-00'"
                    [control]="form().controls.address" [error]="getFieldErrorMessage('address')"></input-text-field>
            </div>
            <div class="form-row">
                <input-text-field [label]="'Información complementaria'"
                    [placeholder]="'Conjunto, casa, torre, apartamento, etc.'"
                    [control]="form().controls.addressOptional"
                    [error]="getFieldErrorMessage('addressOptional')"></input-text-field>
            </div>
            <!-- 
    <checkbox-field [label]="'Acepto los términos y condiciones'" [control]="form().controls.terms"
        [error]="'Debes aceptar los términos'"></checkbox-field> -->
        </div>
    </div>
    <button class="btn" type="submit" [disabled]="form().invalid">Activar SIM</button>
</form>
