<app-promo title="Planes y paquetes que te conectan con causas que verdaderamente importan"
  description="Con todos nuestros planes y paquetes estarás aportando a organizaciones de ayuda humanitaria que están transformando la dura realidad de muchas comunidades en Colombia."
  image="promo.png" logo="logo-lov.png">
</app-promo>
<app-get-sim></app-get-sim>
<app-intro></app-intro>
<app-plans-intro></app-plans-intro>
<app-intro></app-intro>
<app-intro-portability></app-intro-portability>
<app-promo title="Conéctate con la mejor cobertura y los mejores planes"
  description="Planes flexibles, excelente servicio y una experiencia sin complicaciones, bajo la misma cobetura de TIGO."
  image="sim-card.png" direction="right">
</app-promo>