<main class="success-container">
    <header class="success-image">
        <img src="/email.png" alt="Portabilidad en proceso" />
    </header>

    <section class="success-content">
        <h2>¡Tu portabilidad a LOV está en proceso!</h2>

        <div class="info-details">
            <p class="success-description">Estamos preparando todo para darte la bienvenida con mucho amor.</p>
            <p class="timing-info">Si hiciste tu solicitud entre las <strong>8:00 a.m. y las 3:00 p.m.</strong>, tu
                portabilidad se
                completará al
                <strong>día siguiente</strong>. Si la hiciste después de ese horario, estará lista en máximo dos días.
                Puedes
                consultar el estado de tu portabilidad en cualquier momento para seguir el proceso.
            </p>
        </div>

        <div>
            <a href="/portabilidad" class="link-button">Revisar el estado de mi portabilidad</a>
        </div>
    </section>
</main>
