@use '../../../../../styles/variables' as *;

form {

    .btn {
        display: block;
        margin-left: auto;
    }
}

.modal-content-info {

    .info-content-title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 18px;
    }

    .info-section {

        ul {
            margin: 0.75rem 0;
            padding-left: 1.25rem;
            list-style: disc;

            li {
                margin-bottom: 0.5rem;
                color: #374151;
            }
        }
    }
}

.modal-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
