<form [formGroup]="form()" (ngSubmit)="onSubmit()">
    <div class="card">
        <h3 class="form-subtitle">Información de Portabilidad</h3>
        <div class="form-grid">
            <div class="form-row">
                <input-text-field [label]="'Número a portar'" [placeholder]="'3105987456'"
                    [control]="form().controls.donorNumber"
                    [error]="getFieldErrorMessage('donorNumber')"></input-text-field>

                <input-text-field [label]="'Confirmar número a portar'" [placeholder]="'3105987456'"
                    [control]="form().controls.donorNumberConfirm"
                    [error]="getFieldErrorMessage('donorNumberConfirm')"></input-text-field>
            </div>
            <div class="form-row">
                <input-text-field [label]="'Operador movil anterior'" [placeholder]="'Tu operador actual.'"
                    [control]="form().controls.donorOperator"
                    [error]="getFieldErrorMessage('donorOperator')"></input-text-field>

                <select-field [label]="'Tipo de plan de tu operador anterior'"
                    [placeholder]="'Ingresa el plan actual de el número que deseas portar a Lov.'"
                    [options]="planOptions()" [control]="form().controls.donorPlan"
                    [error]="getFieldErrorMessage('donorPlan')"></select-field>
            </div>
        </div>
    </div>

    <button class="btn" type="submit" [disabled]="form().invalid">Continuar</button>
</form>

<app-modal [isOpen]="showModal()" [size]="'md'" [closable]="false" (closed)="onCancelModal()">

    <div class="modal-content-info">
        <p class="info-content-title">Antes de continuar, asegúrate de esto</p>
        <div class="info-section">
            <p>Para que podamos completar tu portabilidad sin inconvenientes, verifica que:</p>
            <ul>
                <li>La SIM del operador actual (Claro, Movistar, Virgin, etc.) esté activa.</li>
                <li>La tengas insertada en un teléfono encendido al momento de hacer el cambio.</li>
            </ul>
            <p>Esto nos ayudará a validar tu número correctamente y evitar retrasos en el proceso.</p>
        </div>
    </div>
    <div class="modal-actions">
        <button type="button" class="btn btn-secondary" (click)="onCancelModal()">Cancelar</button>
        <button type="button" class="btn" (click)="onContinueModal()">Entiendo</button>
    </div>
</app-modal>