<div class="login-container">
    <figure class="image-container">
        @if (currentState == AuthState.REQUESTING_OTP || currentState == AuthState.VALIDATING_OTP || currentState ==
        AuthState.OTP_SENT || currentState == AuthState.ERROR_OTP) {
        <img src="otp.png" alt="">
        } @else {
        <img src="login.png" alt="">
        }
    </figure>

    <!-- Header -->
    <div class="login-header">
        @if (currentState === AuthState.INITIAL|| currentState === AuthState.REQUESTING_OTP || currentState ===
        AuthState.ERROR) {
        <h1 class="login-title">Inicia sesión con tu número de celular</h1>
        } @else if (currentState === AuthState.OTP_SENT || currentState === AuthState.VALIDATING_OTP || currentState ===
        AuthState.ERROR_OTP) {
        <h1 class="login-title">Ingresa el código</h1>
        }

        <p class="login-subtitle">
            @if (currentState === AuthState.INITIAL|| currentState === AuthState.REQUESTING_OTP || currentState ===
            AuthState.ERROR) {
            Enviaremos un código de verificación para confirmar tu identidad y activar tu plan
            } @else if (currentState === AuthState.OTP_SENT || currentState === AuthState.VALIDATING_OTP || currentState
            === AuthState.ERROR_OTP) {
            Ingresa el código que enviamos a tu número de teléfono. Si no lo recibiste, podrás solicitar uno nuevo
            en unos segundos.
            }
        </p>
    </div>

    <!-- MSISDN Form -->
    @if (currentState === AuthState.INITIAL || currentState === AuthState.REQUESTING_OTP || currentState ===
    AuthState.ERROR) {
    <form [formGroup]="msisdnForm" (ngSubmit)="onRequestOtp()" class="auth-form-wrapper">
        <div class="login card">
            <!-- Error Display -->
            @if (shouldShowMsisdnError()) {
            <div class="error-banner">
                <span class="error-icon">⚠️</span>
                <span class="error-message">{{ error?.message }}</span>
            </div>
            }

            <div class="auth-form">
                <div class="form-group">
                    <label for="msisdn" class="form-label">Número de celular</label>
                    <div class="input-wrapper">
                        <span class="country-code">+57</span>
                        <input id="msisdn" type="tel" formControlName="msisdn" class="form-input"
                            [class.invalid]="isMsisdnInvalid" placeholder="3001234567" maxlength="10"
                            autocomplete="tel">
                    </div>
                    @if (isMsisdnInvalid) {
                    <span class="error-text">
                        @if (msisdnControl?.errors?.['required']) {
                        El número de celular es requerido
                        } @else if (msisdnControl?.errors?.['pattern']) {
                        Ingresa un número de celular válido (10 dígitos)
                        }
                    </span>
                    }
                </div>

                <div class="disclaimer">
                    <span class="material-symbols-outlined">verified_user</span>
                    <div>
                        <div><strong>Tu información está segura</strong></div>
                        <div class="disclaimer-body">Usamos tu número solo para verificar tu identidad y activar tu
                            plan. No
                            compartimos tu información.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <a class="btn btn-secondary" (click)="onHaveCode()">Ya tengo un código</a>
            <button type="submit" class="btn" [disabled]="isLoading || msisdnForm.invalid">
                @if (isLoading) {
                <span class="loading-spinner"></span>
                Enviando...
                } @else {
                Enviar código
                }
            </button>
        </div>
    </form>

    }

    <!-- OTP Form -->
    @if (currentState === AuthState.OTP_SENT || currentState === AuthState.VALIDATING_OTP || currentState ===
    AuthState.ERROR_OTP) {
    <form [formGroup]="otpForm" (ngSubmit)="onValidateOtp()" class="auth-form">
        <div class="card">
            @if (shouldShowOtpError()) {
            <div class="error-banner">
                <span class="error-icon">⚠️</span>
                <span class="error-message">{{ error?.message }}</span>
            </div>
            }

            <otp-input-field [error]="getOtpErrorMessage()" [control]="otpFormArray"
                (otpComplete)="onOtpComplete($event)" (otpChange)="onOtpChange($event)">
            </otp-input-field>

            <div class="otp-info">
                <p class="otp-sent-to">
                    Código enviado a +57 {{ msisdnControl?.value }}
                </p>

                @if (countdown > 0) {
                <p class="countdown">
                    Podrás solicitar un nuevo código en {{ getCountdownDisplay() }}
                </p>
                } @else {
                <button type="button" class="btn btn-secondary" (click)="onResendOtp()" [disabled]="isLoading">
                    Enviar código nuevamente
                </button>
                }
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="btn btn-secondary" (click)="onBack()" [disabled]="isLoading">
                Atrás
            </button>

            <button type="submit" class="btn btn-primary" [disabled]="isLoading || !isOtpFormValid">
                @if (isLoading) {
                <span class="loading-spinner"></span>
                Verificando...
                } @else {
                Verificar código
                }
            </button>
        </div>
    </form>
    }
</div>