@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;


.card-title {
    color: $color-extra-1;
    font-size: 1.2rem;

    &.no-border {
        border-bottom: none;
        margin-bottom: 5px !important;
    }
}

.history-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.history-filter-button {
    background-color: $color-primary-light;
    border: 1px solid $gray-100;
    border-radius: 7px;
    color: $gray-900;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    padding: 0.45rem 1.4rem;
    flex: 1;
    text-align: center;

    &.active {
        background-color: $color-extra-1;
        border-color: $color-extra-1;
        color: $color-primary-light;
    }
}



.history-type-icon {
    display: inline-flex;
    font-size: 1.1rem;
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 20;
    line-height: 1;
}