<form [formGroup]="form()">
    <input-text-field
        [label]="'En breve recibirás un mensaje de texto en el número que deseas portar. Cuando lo recibas, escribe el código aquí para seguir con el proceso.'"
        [placeholder]="'xxxxx'" [control]="form().controls.nip"
        [error]="'Este campo es obligatorio'"></input-text-field>

    <date-picker-field [label]="'Fecha de nacimiento'" [placeholder]="'Ingresa tu fecha de nacimiento.'"
        [control]="form().controls.documentIssueDate" [error]="'Selecciona una fecha válida'"></date-picker-field>

    <input-text-field [label]="'Documento'" [placeholder]="'Ingresa tu documento de identidad.'"
        [control]="form().controls.documentID" [error]="'Este campo es obligatorio'"></input-text-field>

    <input-text-field [label]="'Dirección'" [placeholder]="'Ingresa tu dirección.'" [control]="form().controls.address"
        [error]="'Este campo es obligatorio'"></input-text-field>

    <date-picker-field [label]="'Fecha de portabilidad'"
        [placeholder]="'Ingresa la fecha en la que deseas que se active la portabilidad.'"
        [control]="form().controls.portinDate" [error]="'Selecciona una fecha válida'"></date-picker-field>

    <checkbox-field [label]="'Acepto los términos y condiciones'" [control]="form().controls.terms"
        [error]="'Debes aceptar los términos'"></checkbox-field>

    <button class="btn" type="submit" [disabled]="form().invalid">Enviar</button>
</form>
