@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

label {
  margin-left: 6px;
}

input {
  width: 100%;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border-color 0.2s;

  &:focus {
    border-color: $color-extra-1;
  }

  &.invalid {
    border-color: $color-warning;
  }

  &::placeholder {
    color: $gray-400;
  }
}

.error {
  color: $color-warning;
  font-size: 13px;
  margin-left: 6px;
  height: 20px;
}
