<successful-process [icon]="icon" [title]="title">
    <div class="info-details">
        <p class="success-description">¡Listo! Tu SIM LOV está activa y lista para usarse.</p>
        <p class="activation-info">En breve recibirás un mensaje de confirmación. En tus manos tienes ahora el poder de
            ayudar! Bienvenido a LOV Mobile, El amor nos conecta!
        </p>
    </div>
    <div>
        <a href="/planes" class="link-button">Activa un plan</a> o <a href="/recargas" class="link-button">Recarga
            saldo</a>.
    </div>
</successful-process>