<successful-process [icon]="icon" [title]="title">
    <div class="info-details">
        <p class="success-description">Tu SIM LOV está activa y lista para usarse.</p>
        <p class="activation-info">En breve recibirás un mensaje de confirmación. Conéctate, disfruta y vive la
            experiencia LOV con todo el amor que te mereces.
        </p>
    </div>
    <div>
        <a href="/planes" class="link-button">Activa un plan</a> o <a href="/recargas" class="link-button">Recarga
            saldo</a>.
    </div>
</successful-process>
