@use '../../../../../styles/variables' as *;

.phone-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-primary;

    em {
        font-style: normal;
        color: $color-secondary;
    }
}

.link-button {
    text-decoration: none;
}

.loading {
    .dots {
        display: inline-block;
        min-width: 16px;
        text-align: left;
    }

    .dots::after {
        content: '';
        animation: dotsAnimation 2.5s infinite;
    }
}

@keyframes dotsAnimation {

    0%,
    10% {
        content: '';
    }

    32% {
        content: '.';
    }

    54% {
        content: '..';
    }

    76% {
        content: '...';
    }

    100% {
        content: '....';
    }
}