<successful-process [icon]="icon" [title]="title">
    <div class="info-details">
        <p class="success-description">Tu SIM LOV está activa y lista para usarse.</p>
        @switch(msisdnState()) {
        @case ('loading') {
        <p class="phone-number"><em class="loading">Obteniendo número<span class="dots"></span></em></p>
        }
        @case ('success') {
        <p class="phone-number">Número LOV: <em>{{ msisdn() }}</em></p>
        }
        }
        <p class="activation-info">En breve recibirás un mensaje de confirmación. Conéctate, disfruta y vive la
            experiencia LOV con todo el amor que te mereces.
        </p>
    </div>
    <div>
        <a href="/planes" class="link-button">Activa un plan</a>, <a href="/recargas" class="link-button">Recarga
            saldo</a> o <a href="/portabilidad" class="link-button">Inicia una portabilidad</a>.
    </div>
</successful-process>
