<form [formGroup]="form()" (ngSubmit)="onSubmit()">
    <div class="card">
        <h3 class="form-subtitle">Ingresa tú número LOV</h3>
        <div class="form-grid">
            <div class="form-row">
                <input-text-field [label]="'Número de la SIM LOV'" [placeholder]="'300123467'"
                    [control]="form().controls.lovNumber" [error]="getFieldErrorMessage('lovNumber')"
                    [autocomplete]="'tel'"></input-text-field>

                <input-text-field [label]="'Últimos 5 números del código de barras de tu SIM'" [placeholder]="'12345'"
                    [control]="form().controls.iccidDigits" [error]="getFieldErrorMessage('iccidDigits')"
                    [autocomplete]="'on'"></input-text-field>
            </div>
        </div>
    </div>
    <button class="btn" type="submit" [disabled]="isLoading() || form().invalid">
        @if (isLoading()) {
        <span class="loading-spinner"></span>
        Validando...
        } @else {
        Continuar
        }
    </button>
</form>

<app-modal [isOpen]="simInvalidModalOpen()" [size]="'md'" [closable]="false" (closed)="onCancelModal()">

    <div class="modal-content-info">
        <p class="info-content-title">Parece que hay un inconveniente con tu información</p>
        <div class="info-section">
            <p>No hemos podido verificar correctamente los datos asociados a tu número.</p>
            <p>Por favor, asegúrate de que:</p>
            <ul>
                <li>El número LOV ingresado sea correcto.</li>
                <li>Los últimos 5 dígitos del código de barras coincidan con los de tu SIM LOV.</li>
            </ul>
            <p>Si el inconveniente persiste, te recomendamos comunicarte con nuestro equipo de soporte para recibir
                asistencia adicional.</p>
        </div>
    </div>
    <div class="modal-actions">
        <button type="button" class="btn" (click)="onContinueModal()">Regresar</button>
    </div>
</app-modal>
