@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;


.parent-container {

  background-color: #fafafa;

  .title {
    text-align: center;
    font-size: 2.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 50vh;

    .cards-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      @include large {
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
