@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

label {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  input[type='checkbox'] {
    accent-color: $color-extra-1;
    margin: 0 10px;
    align-self: center;
    width: auto;
  }

  span {
    margin-left: 15px;
  }
}

.error {
  color: $color-warning;
  font-size: 13px;
  margin-left: 6px;
  height: 20px;
}
