.portability-status-container {
    margin: 1rem 0;

    .btn {
        display: block;
        margin-left: auto;
    }
}

.form-wrapper {
    animation: fadeSlideIn 0.4s ease-out;
}

.status-title {
    margin-bottom: 1.5rem;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}