<div class="portability-status-container">
    <div class="form-wrapper">
        <form [formGroup]="form()" (ngSubmit)="onSubmit()">
            <div class="card">
                <h3 class="form-subtitle">Ingresa tú número LOV</h3>
                <div class="form-grid">
                    <input-text-field [label]="'Número de la SIM LOV'" [placeholder]="'3001234567'"
                        [control]="form().controls.lovNumber"
                        [error]="getFieldErrorMessage('lovNumber')"></input-text-field>
                </div>
                <error-card [message]="validationError()"></error-card>
            </div>
            <button class="btn" type="submit" [disabled]="isLoading() || form().invalid">
                @if (isLoading()) {
                <span class="loading-spinner"></span>
                Validando...
                } @else {
                Consultar
                }
            </button>
        </form>
    </div>
</div>

@if (validationError()) {
<!-- <app-error-card [message]="validationError()" /> -->
}

@if (hasSearched() && !isLoading() && !validationError()) {
@let status = portabilityStatus();

@if (!status) {
<div class="status-card status-card--empty">
    <p>No hay ninguna portabilidad en proceso para este número.</p>
</div>
} @else {
<div class="card">
    @switch (status.state) {
    @case ('NipSent') {
    <div class="status-card__state status-card__state--nip-sent">
        <h3 class="status-title">NIP Enviado</h3>
        <p>Se ha enviado un código NIP al número donante <strong>{{ status.msisdn }}</strong>.</p>
        <p>Contador de NIP: <strong>{{ status.nipCounter }}</strong></p>
    </div>
    }
    @case ('PortInRequested') {
    <div class="status-card__state status-card__state--portin-requested">
        <h3 class="status-title">Portabilidad Solicitada</h3>
        <p>Número donante: <strong>{{ status.msisdn | msisdn }}</strong></p>
        <p>Fecha de portación: <strong>{{ status.portingDate | date:'dd/MM/yyyy HH:mm' }}</strong></p>
    </div>
    }
    @default {
    <div class="status-card__state status-card__state--default">
        <h3>Estado: {{ status.state }}</h3>
        <p>No hay una portabilidad en proceso para este número.</p>
    </div>
    }
    }
</div>
}
}