@if (loading()) {
<span class="loading-spinner"></span>
}
@else {
<div class="container">
  <ul class="cards-list">
    @for (plan of plans(); track $index) {
    <li class="card">
      <div class="card-body">
        <h3 class="card-title">{{plan.name}}</h3>
        <p class="card-price">{{plan.price | currency}}</p>
        <hr class="divider" />

        <ul class="card-features">
          @for (feature of plan.features; track $index) {
          <li>
            <span class="material-symbols-outlined">{{feature.icon}}</span>
            {{feature.name}} {{feature.description}}
          </li>
          }
        </ul>

        <!-- <ul class="card-features">
          <li>
            <span class="material-symbols-outlined">chat</span>
            WhatsApp ilimitado
          </li>
          <li>
            <span class="material-symbols-outlined">call</span>
            Minutos y mensajes ilimitados
          </li>
          <li>
            <span class="material-symbols-outlined">mail</span>
            3GB de navegación
          </li>
          <li>
            <span class="material-symbols-outlined">calendar_today</span>
            Vigencia de 15 días
          </li>
        </ul> -->
      </div>
      <button class="card-button">
        Obtener plan
        <span class="material-symbols-outlined"> arrow_forward </span>
      </button>
    </li>
    }

  </ul>
</div>
}