@use '../../../../../styles/mixins' as *;

::ng-deep .navigations-tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        display: block;
    }

    .tab-dropdown-container {
        width: 80%;

        @include tablet {
            width: auto;
        }
    }
}
