<div class="container">

    <h1>Elige tu plan ahora</h1>

    <p>Navega a máxima velocidad, habla sin límites y disfruta de nuestros beneficios. Lo mejor de todo es que, sin
        importar el
        plan que elijas, el <strong>20% de tu pago se convierte automáticamente en donaciones reales</strong> para
        nuestras ONG
        aliadas. <i>El
            propósito no es cuestión de precio.</i></p>

    <app-navigation-tabs [tabs]="tabs()" [initialActiveTabId]="activeTabId()"
        [isMobile]="isMobileView()"></app-navigation-tabs>

</div>