<div class="stepper-container">
    <!-- Step Content -->
    <div class="step-content-container card">
        @switch (currentStepIndex()) {
        @case (0) {
        <app-portability-information-form
            (formSubmit)="onPortabilityInformationSubmit($event)"></app-portability-information-form>
        }
        @case (1) {
        <app-portin-information-form (formSubmit)="onPortinInformationSubmit($event)"></app-portin-information-form>
        }
        @case (2) {
        <app-customer-information-form
            (formSubmit)="onCustomerInformationSubmit($event)"></app-customer-information-form>
        }
        }
    </div>

    <!-- Navigation Buttons -->
    <div class="stepper-actions">
        <button type="button" class="btn btn-secondary" [disabled]="currentStepIndex() === 0" (click)="previousStep()">
            Anterior
        </button>

        <button type="button" class="btn btn-primary" [disabled]="currentStepIndex() === 2" (click)="nextStep()">
            Siguiente
        </button>
    </div>
</div>
