<div id="dashboard" class="container">
    <main class="">
        <div class="card-title">
            <h1>Mi Cuenta</h1>

            @if (user) {
            <button class="btn logout-btn" (click)="logout()">Cerrar sesión</button>
            }
        </div>
    </main>

    <div class="dashboard-content">
        <div class="left-column">
            <app-data-usage [accountViews]="accountViews()"></app-data-usage>

            <aside class="card">
                <div class="card-title">
                    <h2>Suscripciones</h2>
                </div>

                <div class="subscriptions-list">
                    @if (loading()) {
                    <app-loading></app-loading>
                    }
                    @else {
                    @if (activeSubscriptions().length > 0) {
                    <ul>
                        @for (subscription of activeSubscriptions(); track subscription.msisdn) {
                        <li class="subscription-item" (click)="selectSubscription(subscription)"
                            [class.selected]="subscription.id === currentSubscription()?.id">
                            <span class="subscription-name">Plan: {{ subscription.tariff.tariffName }}</span>
                            <span class="subscription-msisdn">Número de teléfono: {{ subscription.msisdn }}</span>
                            <span class="subscription-status">Estado: {{ getStateLabel(subscription.state) }}</span>
                            <span class="subscription-activation">Activado: {{ subscription.activationDate |
                                date:'shortDate'
                                }}</span>
                            <span class="subscription-payment">Tipo de Pago: {{
                                getSubscriptionType(subscription.paymentType) }}</span>
                        </li>
                        }
                    </ul>
                    }
                    @else {
                    <p>No tienes suscripciones activas.</p>
                    }}

                </div>
            </aside>

            @if (billingInfo) {
            <div id="billing-info" class="card">
                <h3 class="form-subtitle">Datos de Facturación</h3>

                <p><strong>Nombre:</strong> {{ billingInfo.firstName | capitalize }} {{ billingInfo.lastName |
                    capitalize }}
                </p>
                <p><strong>Tipo de Documento:</strong> {{ billingInfo.documentType }}</p>
                <p><strong>Número de Documento:</strong> {{ billingInfo.documentNumber }}</p>
                <p><strong>Correo Electrónico:</strong> {{ billingInfo.email }}</p>


                <div class="divider"></div>
                <h3 class="form-subtitle">Información de contacto</h3>

                <p><strong>Teléfono:</strong> {{ billingInfo.phone | msisdn }}</p>
                <p><strong>País:</strong> {{ billingInfo.country | capitalize}}</p>
                <p><strong>Ciudad:</strong> {{ billingInfo.city | capitalize }}</p>
                <p><strong>Dirección:</strong> {{ billingInfo.address }}</p>
                <p><strong>Información Adicional:</strong> {{ billingInfo.additionalInfo }}</p>
            </div>
            }

            <app-recharge-scheduler [subscription]="currentSubscription()"></app-recharge-scheduler>
        </div>

        <div class="right-column">
            <app-current-plan [accountViews]="accountViews()"></app-current-plan>
        </div>
    </div>
</div>