<div id="dashboard" class="container">
    <main class="card">
        <div class="card-title">
            <h1>Mi Cuenta</h1>

            @if (user) {
            <button class="btn logout-btn" (click)="logout()">Cerrar sesión</button>
            }
        </div>

        <div class="user-info">
            @if (loading()) {
            <app-loading></app-loading>
            }
            @else {@if (user) {
            <span>Bienvenido, {{ user.firstName | capitalize }} {{ user.lastName | capitalize }}</span>
            }}
        </div>
    </main>

    <aside class="card">
        <div class="card-title">
            <h2>Suscripciones</h2>
        </div>

        <div class="subscriptions-list">
            @if (loading()) {
            <app-loading></app-loading>
            }
            @else {
            @if (activeSubscriptions().length > 0) {
            <ul>
                @for (subscription of activeSubscriptions(); track subscription.msisdn) {
                <li class="subscription-item">
                    <span class="subscription-name">Plan: {{ subscription.tariff.tariffName }}</span>
                    <span class="subscription-msisdn">Número de teléfono: {{ subscription.msisdn }}</span>
                    <span class="subscription-status">Estado: {{ subscription.state | capitalize }}</span>
                    <span class="subscription-activation">Activado: {{ subscription.activationDate | date:'shortDate'
                        }}</span>
                    <span class="subscription-payment">Tipo de Pago: {{ subscription.paymentType | lowercase }}</span>
                </li>
                }
            </ul>
            }
            @else {
            <p>No tienes suscripciones activas.</p>
            }}

        </div>
    </aside>

    @if (billingInfo) {
    <div id="billing-info" class="card">
        <h3 class="form-subtitle">Datos de Facturación</h3>

        <p><strong>Nombre:</strong> {{ billingInfo.firstName | capitalize }} {{ billingInfo.lastName | capitalize }}
        </p>
        <p><strong>Tipo de Documento:</strong> {{ billingInfo.documentType }}</p>
        <p><strong>Número de Documento:</strong> {{ billingInfo.documentNumber }}</p>
        <p><strong>Correo Electrónico:</strong> {{ billingInfo.email }}</p>


        <div class="divider"></div>
        <h3 class="form-subtitle">Información de contacto</h3>

        <p><strong>Teléfono:</strong> {{ billingInfo.phone | msisdn }}</p>
        <p><strong>País:</strong> {{ billingInfo.country | capitalize}}</p>
        <p><strong>Ciudad:</strong> {{ billingInfo.city | capitalize }}</p>
        <p><strong>Dirección:</strong> {{ billingInfo.address }}</p>
        <p><strong>Información Adicional:</strong> {{ billingInfo.additionalInfo }}</p>
    </div>
    }

    <app-recharge-scheduler [userId]="user?.id"></app-recharge-scheduler>

    <div id="account-balances" class="card">
        <div class="card-title">
            <h2>Balances de Cuentas</h2>
        </div>

        <div class="account-list">
            @if (accounts().length > 0) {
            <ul>
                @for (account of accounts(); track account.id) {
                <li class="account-item">
                    <p class="account-name">{{ account.name }}</p>
                    <p class="account-balance">Saldo: {{ account.balance | currency }}</p>
                    <p class="account-expiry">Vence: {{ account.expiryDate | date:'shortDate' }}</p>
                </li>
                }
            </ul>
            }
            @else {
            <p>No hay cuentas disponibles para esta suscripción.</p>
            }
        </div>
    </div>

</div>
