@use '../../../styles/variables' as *;

.card-title {

    display: flex;
    justify-content: space-between;
    align-items: start;

    h1 {
        margin: 0;
        padding: 0;
    }
}

.logout-btn {
    &:hover {
        background: $color-secondary-light;
    }

    &:active {
        background: $color-secondary-light;
    }

    background: $color-secondary;
    color: white;
    font-size: 0.6em;
}

.subscriptions-list {
    margin-top: 20px;

    ul {
        list-style: none;
        padding: 0;

        .subscription-item {
            display: flex;
            flex-direction: column;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 8px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                cursor: pointer;
                transform: translateY(-5px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            span {
                display: block;
                font-size: 14px;
                color: $color-primary;
                margin-bottom: 5px;

                &.subscription-name {
                    font-weight: bold;
                    font-size: 16px;
                }

                &.subscription-status {
                    color: $color-secondary;
                    font-style: italic;
                }

                &.subscription-activation {
                    font-size: 12px;
                }

                &.subscription-payment {
                    font-weight: 600;
                }
            }
        }
    }
}

#billing-info {

    h3 {
        margin-top: 5px;
        margin-bottom: 25px;
    }

    p {
        margin: 10px 0;

        span {
            font-weight: bold;
        }
    }
}

#recharge-scheduler {
    .switch-container {
        margin: 2rem 0 1rem 0;
    }

    .form-description {
        margin-top: 1rem;
    }

    .recharge-form,
    .recharge-buttons {
        animation: fadeInDown 0.3s ease-out;
    }
}

.divider {
    margin: 15px 0;
    height: 1px;
}

button.link-button {
    background: none;
    border: none;
    color: $color-extra-1;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;

    &:hover {
        color: color-lighten($color-extra-1);
        text-decoration: underline;
    }

    &:active {
        color: color-lighten($color-extra-1);
    }
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
