<form [formGroup]="form()" (ngSubmit)="onSubmit()">
    <div>
        <h3 class="form-subtitle">Información del titular</h3>
        <div class="form-grid">
            <div class="form-row">
                <input-text-field [label]="'Nombre del titular'" [placeholder]="'Como aparece en la tarjeta'"
                    [autocomplete]="'cc-name'" [control]="form().controls.fullName"
                    [error]="getFieldErrorMessage('fullName')"></input-text-field>

                <input-text-field [label]="'Documento de identidad'" [placeholder]="'Documento o ID del cliente'"
                    [control]="form().controls.payerId" [error]="getFieldErrorMessage('payerId')"></input-text-field>
            </div>
        </div>
    </div>

    <div>
        <h3 class="form-subtitle">Datos de la tarjeta</h3>
        <div class="form-grid">
            <div class="form-row">
                <input-text-field [label]="'Número de tarjeta'" [placeholder]="'1234 5678 9012 3456'"
                    [autocomplete]="'cc-number'" [control]="form().controls.cardNumber"
                    [error]="getFieldErrorMessage('cardNumber')"></input-text-field>

                <input-text-field [label]="'CVV'" [placeholder]="'123'" [type]="'password'" [autocomplete]="'cc-csc'"
                    [control]="form().controls.cvv" [error]="getFieldErrorMessage('cvv')"></input-text-field>
            </div>

            <div class="form-row">
                <select-field [label]="'Mes de expiración'" [placeholder]="'MM'" [options]="expirationMonths()"
                    [control]="form().controls.expirationMonth"
                    [error]="getFieldErrorMessage('expirationMonth')"></select-field>

                <select-field [label]="'Año de expiración'" [placeholder]="'AAAA'" [options]="expirationYears()"
                    [control]="form().controls.expirationYear"
                    [error]="getFieldErrorMessage('expirationYear')"></select-field>
            </div>

            @if (brand()) {
            <div class="brand-chip">Franquicia detectada: {{ brand() }}</div>
            }

            <error-card [message]="submitError()"></error-card>

        </div>
    </div>

    <button class="btn" type="submit" [disabled]="form().invalid || isLoading()">
        @if (isLoading()) {
        <span class="loading-spinner"></span>
        Agregando...
        } @else {
        Agregar método de pago
        }
    </button>
</form>
