<form [formGroup]="form()" (ngSubmit)="onSubmit()">
    <div class="card">
        <h3 class="form-subtitle">Ingresa tú número LOV</h3>
        <div class="form-grid">
            <div class="form-row">
                <input-text-field [label]="'Código de barrras de tu SIM'" [placeholder]="'1234567890123456789'"
                    [control]="form().controls.iccid" [error]="getFieldErrorMessage('iccid')"></input-text-field>

                <input-text-field [label]="'Código PUK'" [placeholder]="'00000000'" [control]="form().controls.puk"
                    [error]="getFieldErrorMessage('puk')"></input-text-field>
            </div>
        </div>

        <error-card [message]="validationError()"></error-card>

    </div>
    @if (!hideButton()) {
    <button class="btn" type="submit" [disabled]="isLoading() || form().invalid">
        @if (isLoading()) {
        <span class="loading-spinner"></span>
        Validando...
        } @else {
        Continuar
        }
    </button>
    }
</form>
