@use '../../../../../styles/mixins' as *;

.plans-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 3rem;
    column-gap: 2rem;
    width: 100%;
    padding: 1rem 0;
    list-style: none;
    margin: 0;
    align-items: stretch;
    grid-auto-rows: auto;

    li {
        display: flex;
        justify-content: center;
    }

    @include large {
        grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include mobile {
    .plans-grid {
        grid-template-columns: 1fr;
        padding: 0.5rem 0;
    }
}
