<footer class="footer">
    <div class="footer-container">
        <div class="heart"></div>

        <div class="footer-grid">
            <!-- Contáctanos -->
            <div class="footer-column">
                <h3 class="footer-title">Contáctanos</h3>
                <ul class="footer-links">
                    <li><a target="_blank" href="tel:+*777">IVR *777</a></li>
                    <li><a target="_blank" href="tel:+018000413788">018000413788</a></li>
                    <li><a target="_blank" href="mailto:info.lov@lov.com.co">info.lov@lov.com.co</a></li>
                    <li><a target="_blank" href="https://wa.me/573330522222" target="_blank" rel="noopener">WhatsApp</a>
                    </li>
                </ul>
            </div>

            <!-- Legales -->
            <div class="footer-column">
                <h3 class="footer-title">Legales</h3>
                <ul class="footer-links">
                    <li><a target="_blank" href="/docs/condiciones_servicio_prepago_lov.pdf">Términos y Condiciones</a>
                    </li>
                    <li><a target="_blank" href="/docs/politicas_de_tratamiento_de_datos_personales_new.pdf">Política de
                            Privacidad</a></li>
                    <li><a target="_blank" href="/docs/habeas_data.pdf">Habeas data</a></li>
                    <li><a target="_blank" href="/docs/medios_de_atencion_al_usuario_new.pdf">Medios de atención al
                            usuario</a></li>
                </ul>
            </div>

            <!-- Información útil -->
            <div class="footer-column">
                <h3 class="footer-title">Información útil</h3>
                <ul class="footer-links">
                    <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                    <li><a href="/como-funciona">¿Cómo funciona?</a></li>
                    <li><a target="_blank" href="https://coberturadigital-uat-co.tigocloud.net/">Cobertura</a></li>
                    <li><a href="/portabilidad">Portabilidad Numérica</a></li>
                </ul>
            </div>

            <!-- Síguenos en -->
            <div class="footer-column">
                <h3 class="footer-title">Síguenos en</h3>
                <ul class="footer-links">
                    <li><a href="https://facebook.com/lovcolombia" target="_blank" rel="noopener">Facebook</a></li>
                    <li><a href="https://instagram.com/lovcolombia" target="_blank" rel="noopener">Instagram</a></li>
                    <li><a href="https://linkedin.com/company/lov-telecomunicaciones" target="_blank"
                            rel="noopener">LinkedIn</a></li>
                    <li><a href="https://youtube.com/@lovtelecomunicaciones3317" target="_blank"
                            rel="noopener">YouTube</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-copyright">
                <p>Hecho con ❤️ por <a href="https://innovaciones.com.co">Innovaciones</a></p>
            </div>
            <div class="footer-copyright">
                <p>&copy; {{ currentYear }} LOV. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>