<form [formGroup]="form()">
    <input-text-field [label]="'Número que deseas portar'" [placeholder]="'Ingresa el número que deseas portar a Lov.'"
        [control]="form().controls.donorNumber" [error]="'Este campo es obligatorio'"></input-text-field>

    <select-field [label]="'Tipo de plan'"
        [placeholder]="'Ingresa el plan actual de el número que deseas portar a Lov.'" [options]="planOptions()"
        [control]="form().controls.donorPlan" [error]="'Este campo es obligatorio'"></select-field>

    <input-text-field [label]="'Número Lov'" [placeholder]="'Ingresa el número Lov.'"
        [control]="form().controls.lovNumber" [error]="'Este campo es obligatorio'"></input-text-field>

    <input-text-field [label]="'Últimos 5 dígitos del código de barras'"
        [placeholder]="'Ingresa los últimos 5 dígitos del código de barras ubicado en la tarjeta que acompaña tu SIM Lov'"
        [control]="form().controls.iccidDigits" [error]="'Este campo es obligatorio'"></input-text-field>

    <button class="btn" type="submit" [disabled]="form().invalid">Continuar</button>
</form>
