<nav class="header">
    <div class="nav-container">
        <div class="logo-container">
            <a routerLink="/" class="logo">
                <img src="logo-lov.png" alt="Logo">
            </a>
        </div>


        <div class="main-menu">
            <ul #navMenu [className]="isActive ? 'nav-menu active' : 'nav-menu'">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" (click)="closeMobileMenu()">Inicio</a>
                </li>
                <li class="nav-item dropdown" (click)="toggleDropdown($event)">
                    <a class="nav-link" [class.active]="isDropdownActive(['planes', 'recargas'])">
                        Planes y Recargas
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/planes" routerLinkActive="active"
                            (click)="closeMobileMenu()">
                            Planes
                        </a>
                        <a class="dropdown-item" routerLink="/recargas" routerLinkActive="active"
                            (click)="closeMobileMenu()">
                            Recargas
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown" (click)="toggleDropdown($event)">
                    <a class="nav-link"
                        [class.active]="isDropdownActive(['portabilidad', 'activar-sim', 'bloqueo-equipo'])">
                        Tramites
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/portabilidad" routerLinkActive="active"
                            (click)="closeMobileMenu()">
                            Portabilidad
                        </a>
                        <a class="dropdown-item" routerLink="/activar-sim" routerLinkActive="active"
                            (click)="closeMobileMenu()">
                            Activar SIM
                        </a>
                        <a class="dropdown-item" routerLink="/bloqueo-equipo" routerLinkActive="active"
                            (click)="closeMobileMenu()">
                            Bloqueo de equipo
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown" (click)="toggleDropdown($event)">
                    <a class="nav-link" [class.active]="isDropdownActive(['preguntas-frecuentes', 'legales'])">
                        Acerca de
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/preguntas-frecuentes" routerLinkActive="active"
                            (click)="closeMobileMenu()">
                            Preguntas Frecuentes
                        </a>
                        <a class="dropdown-item" routerLink="/legales" routerLinkActive="active"
                            (click)="closeMobileMenu()">
                            Información legal
                        </a>
                    </div>
                </li>

                <li class="nav-item">
                    @if (user) {
                    <a routerLink="/dashboard" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" (click)="closeMobileMenu()">Mi Cuenta</a>
                    }
                    @else {
                    <a routerLink="/ingreso" class="nav-link" routerLinkActive="active"
                        (click)="closeMobileMenu()">Iniciar
                        Sesión</a>
                    }
                </li>

            </ul>



            <div class="menu-toggle" [class.active]="isActive" (click)="onClick()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</nav>