<nav class="header">
    <div class="nav-container">
        <div class="logo-container">
            <a routerLink="/" class="logo">
                <img src="logo-lov.png" alt="Logo">
            </a>
        </div>


        <div class="main-menu">
            <ul #navMenu [className]="isActive ? 'nav-menu active' : 'nav-menu'">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" (click)="closeMobileMenu()">Inicio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/recargas" class="nav-link" routerLinkActive="active"
                        (click)="closeMobileMenu()">Recargas</a>
                </li>
                <li class="nav-item dropdown" (click)="toggleDropdown($event)">
                    <a class="nav-link" [class.active]="isDropdownActive(['preguntas-frecuentes', 'legales'])">
                        Acerca de
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/preguntas-frecuentes" routerLinkActive="active"
                            (click)="closeMobileMenu()">
                            Preguntas Frecuentes
                        </a>
                        <a class="dropdown-item" routerLink="/legales" routerLinkActive="active"
                            (click)="closeMobileMenu()">
                            Información legal
                        </a>
                    </div>
                </li>
            </ul>

            <div class="menu-toggle" [class.active]="isActive" (click)="onClick()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</nav>