@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

$menu-background: white;



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $menu-background;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s ease;

    .nav-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 16px 5vw;
        position: relative;

        .logo-container {
            flex: 0 0 auto;
            display: flex;
            align-items: center;

            .logo {
                img {
                    height: 30px;
                    width: auto;

                    @include tablet {
                        height: 40px;
                    }

                    @include desktop {
                        height: 50px;
                    }
                }
            }
        }

        .menu-toggle {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 45px;
            height: 30px;

            span {
                display: block;
                height: 3px;
                background-color: $color-primary;
                border-radius: 2px;
                transition: all 0.3s ease;
            }

            &.active {
                span {
                    background-color: $color-primary;
                    transform-origin: center;

                    &:nth-child(1) {
                        transform: translateY(14px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        transform: scaleX(0);
                    }

                    &:nth-child(3) {
                        transform: translateY(-13px) rotate(-45deg);
                    }
                }
            }

            @include desktop {
                display: none;
            }
        }

        .main-menu {
            position: static;
            transform: none;
            flex: 1;
            display: flex;
            justify-content: end;

            @include desktop {
                position: absolute;
                justify-content: center;
                left: 50%;
                transform: translateX(-50%);
            }


        }

        .nav-menu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: $menu-background;
            flex-direction: column;
            align-items: center;
            display: flex;
            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.8s ease;
            max-height: 0;
            padding: 0;

            &.active {
                height: 100vh;
                max-height: 100vh;
                padding: 30px 10px;

                @include desktop {
                    height: auto;
                    max-height: 500px; // Adjust based on content
                    padding: 0;
                }
            }

            .nav-item {
                width: 100%;
                max-width: 300px;
                text-align: center;
                margin: 5px 0;

                @include tablet {
                    margin: 0 5px;
                }

                .nav-link {
                    color: $color-primary;
                    text-decoration: none;
                    font-size: 18px;
                    width: 100%;
                    display: block;
                    border-radius: 50px;
                    padding: 10px 20px;
                    transition: all 0.3s ease, color 0.3s ease, background 0.3s ease;



                    &:hover {
                        background-image: linear-gradient(to right, $color-secondary 0%, color-lighten($color-secondary, 20) var(--hover-x, 51%), $color-secondary 100%);
                        color: $color-primary-light;
                    }

                    &.active {
                        background-image: linear-gradient(to right, $color-secondary 0%, color-lighten($color-secondary, 20) var(--hover-x, 51%), $color-secondary 100%);
                        color: $color-primary-light;
                    }
                }


                &.dropdown {
                    display: block;

                    .dropdown-menu {
                        visibility: hidden;
                        height: 0;
                        max-height: 0;
                        transition: all 1s ease-in-out;
                        opacity: 0;
                        overflow: hidden;
                    }

                    &.active>.dropdown-menu {
                        visibility: visible;
                        height: auto;
                        max-height: 500px;
                        opacity: 1;

                        @include desktop {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(5px);
                        }
                    }

                    .dropdown-item {
                        display: block;
                        padding: 12px 20px;
                        color: #333;
                        text-decoration: none;
                        transition: all 0.2s ease;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 5px;
                            height: 0;
                            width: 0px;
                            top: 50%;
                            bottom: 50%;
                            background-color: $color-secondary;
                            transition: height 0.2s ease-in, top 0.2s ease-in, bottom 0.2s ease-in;
                        }

                        &:hover {
                            background-color: #f5f5f5;
                            color: $color-secondary;
                            padding-left: 25px;
                            position: relative;

                            &::before {
                                height: 100%;
                                top: 0;
                                bottom: 0;
                                width: 3px;
                            }
                        }
                    }
                }

                @include desktop {

                    /* Dropdown Styles */
                    &.dropdown {
                        position: relative;

                        .dropdown-menu {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            background-color: #fff;
                            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                            border-radius: 8px;
                            min-width: 200px;
                            width: 100%;
                            padding: 10px 0;
                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(20px);
                            transition: all 0.5s ease;
                            z-index: 100;
                        }

                        &:hover>.dropdown-menu {
                            visibility: visible;
                            height: auto;
                            max-height: 500px;
                            opacity: 1;
                            transform: translateY(5px);
                        }
                    }
                }
            }


            @include desktop {
                position: static;
                display: flex;
                flex-direction: row;
                max-height: none;
                height: auto;
                background: none;
                overflow: visible;
            }
        }
    }
}