<li class="card" [class.hover-enabled]="enableHoverEffect()">
  <div class="card-body">
    <h3 class="card-plan">{{plan.name}}</h3>
    <p class="card-price">{{plan.totalPrice | currency}}</p>

    <!-- <div class="plan-detailed-pricing">
      @if(plan.voiceQuantity > 0 || plan.smsQuantity > 0) {
      <div class="phone-pricing">
        <span>Telefonía</span>
        {{plan.totalPrice * (plan.voiceQuantity + plan.smsQuantity) | currency}}
      </div>
      }
      @if(plan.dataQuantity > 0) {
      <div class="data-pricing">
        <span>Datos</span>
        {{plan.totalPrice * plan.dataQuantity | currency}}
      </div>
      }
    </div> -->

    <hr class="divider" />

    <ul class="card-features">
      @for (feature of plan.features; track $index) {
      <li>
        <span class="material-symbols-outlined">{{getMaterialSymbol(feature.measure)}}</span>
        {{feature.name}} {{feature.description}}
      </li>
      }
      <li>
        <span class="material-symbols-outlined">calendar_today</span>
        Vigencia de {{plan.validity}} {{ plan.validity === 1 ? 'día' : 'días' }}
      </li>
    </ul>
  </div>
  <a class="card-button" [routerLink]="'/pagos'" (click)="addPlanToCart()">
    Obtener plan
    <span class="material-symbols-outlined"> arrow_forward </span>
  </a>
</li>