<li class="card" [class.hover-enabled]="enableHoverEffect()">
  <div class="card-body">
    <h3 class="card-title">{{plan.name}}</h3>
    <p class="card-price">{{plan.totalPrice | currency}}</p>
    <hr class="divider" />

    <ul class="card-features">
      @for (feature of plan.features; track $index) {
      <li>
        <span class="material-symbols-outlined">{{feature.icon}}</span>
        {{feature.name}} {{feature.description}}
      </li>
      }
    </ul>

    <!-- <ul class="card-features">
          <li>
            <span class="material-symbols-outlined">chat</span>
            WhatsApp ilimitado
          </li>
          <li>
            <span class="material-symbols-outlined">call</span>
            Minutos y mensajes ilimitados
          </li>
          <li>
            <span class="material-symbols-outlined">mail</span>
            3GB de navegación
          </li>
          <li>
            <span class="material-symbols-outlined">calendar_today</span>
            Vigencia de 15 días
          </li>
        </ul> -->
  </div>
  <a class="card-button" [routerLink]="'/pagos'" (click)="addPlanToCart()">
    Obtener plan
    <span class="material-symbols-outlined"> arrow_forward </span>
  </a>
</li>