<div class="summary-container">
    <div class="heart"></div>

    <h2>Resumen de tu Suscripción</h2>
    <p class="summary-subtitle">Este plan se renovará automáticamente cada 30 días y que puedes cancelarlo en cualquier
        momento.</p>

    <span>COBRO HOY</span>

    <dl class="summary-list card">
        <div class="summary-row">
            <dt>Plan:</dt>
            <dd class="plan-name">Plan Prepago Ultra 20GB</dd>
        </div>

        <div class="summary-row">
            <dt>Duración:</dt>
            <dd>30 días</dd>
        </div>

        <div class="summary-row">
            <dt>Subtotal</dt>
            <dd>$42.016</dd>
        </div>

        <div class="summary-row">
            <dt>Impuestos</dt>
            <dd>$7.983</dd>
        </div>

        <hr class="divider">

        <div class="summary-row total-row">
            <dt>Total a pagar</dt>
            <dd>$49.990</dd>
        </div>
    </dl>

    <span>COBROS FUTUROS</span>
    <dl class="summary-list card">
        <div class="summary-row">
            <dt>Valor:</dt>
            <dd class="plan-name">$49.990</dd>
        </div>

        <div class="summary-row">
            <dt>Próxima renovación</dt>
            <dd>14 de junio de 2026</dd>
        </div>

        <div class="summary-row">
            <dt>Método de pago</dt>
            <dd>Visa •••• 4532</dd>
        </div>
    </dl>

    <div class="actions-container">
        <button type="button" class="btn" (click)="confirmSubscription()">
            Confirmar Suscripción
        </button>
    </div>
</div>
