<h3 class="step-title">Solicitar portabilidad</h3>
<form [formGroup]="form()">

    <input-text-field [label]="'Últimos 5 números del código de barras de tu SIM'" [placeholder]="'00000'"
        [control]="form().controls.nip" [error]="'Este campo es obligatorio'"></input-text-field>

    <date-picker-field [label]="'Fecha de portabilidad'"
        [placeholder]="'Ingresa la fecha en la que deseas que se active la portabilidad.'"
        [control]="form().controls.portinDate" [error]="'Selecciona una fecha válida'"></date-picker-field>

    <button class="btn" type="submit" [disabled]="form().invalid">Continuar</button>
</form>
