<form [formGroup]="form()" (ngSubmit)="onSubmit()">
    <div class="card">
        <h3 class="form-subtitle">Documento de identidad</h3>
        <div class="form-grid">
            <div class="form-row">
                <input-text-field [label]="'Documento'" [placeholder]="'1234567890'"
                    [control]="form().controls.documentID"
                    [error]="getFieldErrorMessage('documentID')"></input-text-field>

                <select-field [label]="'Tipo de documento'" [placeholder]="''" [options]="documentType()"
                    [control]="form().controls.documentType"
                    [error]="getFieldErrorMessage('documentType')"></select-field>
            </div>
            <div class="form-row">
                <date-picker-field [label]="'Fecha de expedición'"
                    [placeholder]="'Ingresa la fecha de expedición de tu documento de identidad.'"
                    [control]="form().controls.documentIssueDate"
                    [error]="getFieldErrorMessage('documentIssueDate')"></date-picker-field>
            </div>
        </div>
    </div>
    @if (!hideButton()) {
    <button class="btn" type="submit" [disabled]="isLoading() || form().invalid">
        @if (isLoading()) {
        <span class="loading-spinner"></span>
        Validando...
        } @else {
        Continuar
        }
    </button>
    }
</form>
