@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

fieldset {
  border: none;
  margin: 0;
  padding: 0;

  legend {
    margin-left: 6px;
  }

  .radio-option {
    display: flex;
    flex-direction: row;
    margin: 10px 0;

    input[type='radio'] {
      accent-color: $color-extra-1;
      margin-right: 10px;
      align-self: center;
      width: auto;
      cursor: pointer;
    }

    label {
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}

.error {
  color: $color-warning;
  font-size: 13px;
  margin-left: 6px;
  height: 20px;
}
