@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

fieldset {
  border: none;
  margin: 0;
  padding: 0;

  legend {
    margin-left: 6px;
  }

  .radio-option {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 12px 16px;
    border: 1px solid $gray-100;
    border-radius: 8px;
    align-items: center;
    transition: background-color 0.2s ease;

    &:has(input[type='radio']:checked) {
      background-color: rgba($color-extra-1, 0.04);
      //border-color: $color-extra-1;
    }

    input[type='radio'] {
      accent-color: $color-extra-1;
      margin-right: 20px;
      margin-left: 5px;
      margin-top: 6px;
      align-self: flex-start;
      width: auto;
      cursor: pointer;
    }

    label {
      margin-right: 1rem;
      cursor: pointer;
      flex: 1;
    }

    button {
      margin-right: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: color 0.2s ease;

      &:hover {
        color: $color-extra-1;

        .material-symbols-outlined {
          //font-size: 25px;
          font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
        }

      }
    }
  }
}

.error {
  color: $color-warning;
  font-size: 13px;
  margin-left: 6px;
  height: 20px;
}
